/* src/pages/Login.css */

.login-page {
    background-color: #FFF8DC; /* Beige */
    padding: 100px 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .login-container {
    background-color: #014421;
    padding: 40px 30px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
  }
  
  .login-title {
    font-size: 32px;
    margin-bottom: 20px;
    color: #FFD700; /* Deep Green */
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
  }
  
  .login-input {
    width: 80%;
    padding: 12px 16px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
  }
  
  .login-button {
    background-color: #FFD700; /* Gold */
    color: #014421; /* Deep Green */
    padding: 12px 16px;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .login-button:hover {
    background-color: #e6be00;
  }
  
  .error-message {
    color: red;
    margin-top: 10px;
  }
  
  .success-message {
    color: green;
    margin-top: 10px;
  }
  